@use '/src/styles/constants/colors';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: colors.$BG_COLOR;
}

.modalWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 15;

  button {
    color: colors.$WHITE;
    letter-spacing: 0.3px;
    font-size: 11px;
    margin: 0 8px;
  }

  .favBtn,
  .favRemoveBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 4px 5px;
    border-radius: 50px;
    background: colors.$LOGO;

    svg {
      transform: scale(0.7);
    }
  }

  .removeBtn {
    padding: 9px 22px;
    border-radius: 50px;
    background: colors.$LOGO;
  }
}

.imgNone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid colors.$IMGNONE;

  span {
    color: colors.$GRAYC;
    font-size: 10px;
  }
}