@use '/src/styles/constants/colors';

.movieWrap {
  position: relative;
  width: 360px;
  height: 720px;
  padding: 40px 25px;
  background-color: colors.$APP_BG;
  border-radius: 50px; 
  box-shadow: 0px 1px 4px colors.$APP_BOX_SHADOW;
  color: colors.$WHITE;
  overflow: hidden;

  .header {
    margin-bottom: 10px;

    .movieTitle {
      font-weight: 600;
      color: colors.$LOGO;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .section1 {
    margin-bottom: 20px;

    .searchBox {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: inherit;

      input {
        position: relative;
        padding: 15px 20px;
        background: colors.$BOX_COLOR;
        border-radius: 20px;
        color: colors.$TITLE;
        width: 100%;
        font-size: 14px;
        box-shadow: colors.$BOX_SHADOW;

        &::placeholder {
          font-size: 13px;
          color: colors.$SERCH_TITLE;
        }
      }

      .searchBtn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: colors.$WHITE;
        font-size: 12px;
        border-radius: 50%;
        padding: 10px;

        svg {
          width: 25px;
        }
      }
    }
  }
  
  .section2 {
    .searchTitle {
      font-size: 13px;
      margin-bottom: 20px;
      color: colors.$SERCH_TITLE;
    }
    .listWrap {
      height: 480px;
      overflow-y: scroll;
    }
    .lists {
      

      li {

        + li {
          margin-top: 20px;
        }

        .movieBtn {
          border-radius: 10px;
          padding: 14px;
          width: 100%;
          height: 130px;
          background: colors.$BOX_COLOR;
          box-shadow: colors.$BOX_SHADOW;
          border: 1px solid colors.$BOX_BORDER;
          transition: 0.4s;

          &:hover {
            transform: translateY(-5px);
          }
          dl {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;

            .imgInfo {
              width: 43%;
              height: 100%;

              .imgWrap {
                height: inherit;
                border-radius: 5px;

                .img {
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  width: 100%;
                  height: 100%;
                  border-radius: 5px;
                }
              }
            }

            .infoWrap {
              width: 50%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              text-align: left;

              .title {
                color: colors.$TITLE;
                font-weight: 600;
                font-size: 15px;
                line-height: 17px;
                margin-bottom: 7px;
                white-space: normal;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
              }

              .ytWrap {
                display: flex;
                align-items: center;

                .year,
                .series,
                .movie,
                .game {
                  position: relative;
                  font-weight: 600;
                  font-size: 13px;
                }

                .year {
                  margin-right: 20px;
                  color: colors.$YEAR;

                  &::after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -10px;
                    display: block;
                    content: '';
                    height: 100%;
                    border-right: 1px solid colors.$YEAR
                  }
                }

                .series,
                .movie,
                .game {
                  padding: 2px 7px 3px;
                  border-radius: 4px;
                }

                .series {
                  border: 1px solid colors.$SERIES_COLOR;
                  color: colors.$SERIES_COLOR;
                }
                .movie {
                  border: 1px solid colors.$MOVIE_COLOR;
                  color: colors.$MOVIE_COLOR;
                }
                .game {
                  border: 1px solid colors.$GAME_COLOR;
                  color: colors.$GAME_COLOR;
                }
              }

              .favStar {
                border: 1px solid colors.$FAV_STAR;
                padding: 3px 4px 1px;
                border-radius: 50%;
                margin-top: 5px;

                svg {
                  color: colors.$FAV_STAR;
                }
              }
            }
          }

          dt {
            display: none;
          }
        }
      }
    }

    .result {
      color: colors.$RESULT;
      font-size: 13px;
    }

    .loading {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;

      span {
        position: relative;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: colors.$RESULT;
        margin: 0 3px;
        animation: loading 0.3s alternate infinite forwards;

        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.3s;
        }
      }
      @keyframes loading {
        0% { 
          transform: translateY(-3px);
        }
        100% {
          transform: translateY(3px);
        }
      }
    }
  }
}