@use '/src/styles/constants/colors';

.movieWrap {
  position: relative;
  width: 360px;
  height: 720px;
  padding: 40px 25px;
  background-color: colors.$APP_BG;
  border-radius: 50px;
  box-shadow: colors.$APP_BOX_SHADOW;
  color: colors.$WHITE;
  overflow: hidden;

  .header {
    margin-bottom: 10px;

    .movieTitle {
      font-weight: 600;
      color: colors.$LOGO;
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  .section1 {
    margin-bottom: 20px;

    .searchBox {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: inherit;

      input {
        position: relative;
        padding: 15px 20px;
        background: colors.$BUTTON;
        border-radius: 20px;
        color: colors.$WHITE;
        width: 100%;
        font-size: 14px;

        &::placeholder {
          font-size: 13px;
          color: colors.$ICON;
        }
      }

      .searchBtn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: colors.$WHITE;
        font-size: 12px;
        border-radius: 50%;
        padding: 10px;

        svg {
          width: 25px;
        }
      }
    }
  }
  
  .section2 {
    h2 {
      font-size: 18px;
      margin-bottom: 15px;
    }
    .listWrap {
      height: 440px;
      overflow-y: scroll;
    }
    .lists {
      

      li {

        + li {
          margin-top: 20px;
        }

        .movieBtn {
          border-radius: 15px;
          padding: 14px;
          width: 100%;
          height: 140px;
          background: colors.$BUTTON;

          dl {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;

            .imgInfo {
              width: 43%;
              height: 100%;

              .imgWrap {
                height: inherit;
                border-radius: 10px;

                .img {
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
                  width: 100%;
                  height: 100%;
                  border-radius: 10px;
                }
              }
            }

            .infoWrap {
              width: 50%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              text-align: left;

              .title {
                color: colors.$GRAYC;
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 7px;
                white-space: normal;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
              }

              .ytWrap {
                display: flex;

                .year,
                .type {
                  position: relative;
                  font-weight: 600;
                  font-size: 13px;
                  color: colors.$SEARCH;
                }

                .year {
                  margin-right: 18px;
                  padding-top: 1px;

                  &::after {
                    position: absolute;
                    top: 1px;
                    right: -10px;
                    display: block;
                    content: '';
                    height: 90%;
                    border-right: 2px solid colors.$SEARCH
                  }
                }
              }
            }
          }

          dt {
            display: none;
          }
        }
      }
    }

    .result {
      color: colors.$SEARCH;
      font-size: 13px;
    }

    .loading {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;

      span {
        position: relative;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: colors.$WHITE;
        margin: 0 3px;
        animation: loading 0.3s alternate infinite forwards;

        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.3s;
        }
      }
      @keyframes loading {
        0% { 
          transform: translateY(-3px);
        }
        100% {
          transform: translateY(3px);
        }
      }
    }
  }
}