@use '/src/styles/constants/colors';

.section1 {
  h2 {
    margin-bottom: 10px;
    font-size: 13px;
    color: colors.$TITLE;

    span {
      display: inline-block;
      margin-left: 3px;
      color: colors.$RED;
      animation: moveIcon 0.8s infinite alternate;
    }

    @keyframes moveIcon {
      0% {
        transform: translateY(-3px) scale(1.1);
      }

      100% {
        transform: translateY(0) scale(1);
      }
    }
  }

  .list {
    height: 530px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: scroll;

    li + li {
      margin-top: 16px;
    }
  }

  .result {
    font-size: 13px;
    color: colors.$RESULT;
  }
}
