@use '/src/styles/constants/colors';

.section1 {
  h2 {
    margin-bottom: 10px;
    font-size: 13px;
    color: colors.$TITLE;

    span {
      display: inline-block;
      margin-left: 3px;
      color: colors.$RED;
      animation: moveIcon 0.8s infinite alternate;
    }

    @keyframes moveIcon {
      0% {
        transform: translateY(-3px) scale(1.1);
      }

      100% {
        transform: translateY(0) scale(1);
      }
    }
  }

  .list {
    height: 530px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: scroll;

    li {
      +li {
        margin-top: 16px;
      }

      .favBtn {
        width: 100%;
        height: 120px;
        padding: 14px;
        background: colors.$BOX_COLOR;
        border: 1px solid colors.$BOX_BORDER;
        border-radius: 10px;
        transition: 0.3s;

        &:hover {
          background: #d9dff836;
        }

        dl {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 100%;

          .imgInfo {
            width: 30%;
            height: 100%;

            .imgWrap {
              height: inherit;
              overflow: hidden;
              border-radius: 5px;
            }

            .img {
              width: 100%;
              height: 100%;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              border-radius: 5px;
            }
          }

          .infoWrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 65%;
            text-align: left;

            .title {
              display: box;
              margin-bottom: 7px;
              overflow: hidden;
              font-size: 15px;
              font-weight: 600;
              line-height: 17px;
              color: colors.$TITLE;
              white-space: normal;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }

            .ytWrap {
              display: flex;
              align-items: center;
            }

            .year,
            .series,
            .movie,
            .game {
              position: relative;
              font-weight: 600;
            }

            .year {
              margin-right: 20px;
              font-size: 13px;
              color: colors.$YEAR;
            }

            .year::after {
              position: absolute;
              top: 50%;
              right: -10px;
              display: block;
              height: 100%;
              content: '';
              border-right: 1px solid colors.$YEAR;
              transform: translateY(-50%);
            }

            .series,
            .movie,
            .game {
              padding: 0 4px 2px;
              font-size: 12px;
              border-radius: 4px;
            }

            .series {
              color: colors.$SERIES_COLOR;
              border: 1px solid colors.$SERIES_COLOR;
            }

            .movie {
              color: colors.$MOVIE_COLOR;
              border: 1px solid colors.$MOVIE_COLOR;
            }

            .game {
              color: colors.$GAME_COLOR;
              border: 1px solid colors.$GAME_COLOR;
            }
          }
        }

        dt {
          display: none;
        }
      }
    }
  }

  .result {
    font-size: 13px;
    color: colors.$RESULT;
  }
}
