@use '/src/styles/constants/colors';
@use '/src/styles/mixins/animation';

.section1 {
  h2 {
    margin-bottom: 10px;
    font-size: 13px;
    color: colors.$TITLE;

    span {
      display: inline-block;
      margin-left: 3px;
      color: colors.$RED;
      animation: moveIcon 0.8s infinite alternate;
      @include animation.moveIcon;
    }
  }

  .list {
    height: 530px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow-y: scroll;

    li + li {
      margin-top: 16px;
    }
  }

  .result {
    font-size: 13px;
    color: colors.$RESULT;
  }
}
