// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ea3a4b;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BG_COLOR: #fafafa;
$APP_BG: #ffffff;
$APP_BOX_SHADOW: rgba(0, 0, 0, 16%);
$NAV: #fafafa;
$NAV_ACTIVE: #dddcdc;
$NAV_SHADOW: #f4f4f480;
$BOX_COLOR: #fafafa;
$BOX_COLOR2: #f1f1f1bf;
$BOX_SHADOW2: rgba(149, 157, 165, 20%) 2px 4px 0;
$BOX_SHADOW: rgba(149, 157, 165, 10%) 2px 4px 0;
$BOX_BORDER: rgba(238, 238, 238, 45%);
$BUTTON: #22243b;
$SERCH_TITLE: #8e8e9b;
$LOGO: rgba(233, 62, 61, 85%);
$TITLE: #666666;
$YEAR: #22222269;
$IMGNONE: #dddddd;
$SERIES_COLOR: rgba(129, 191, 127, 78%);
$GAME_COLOR: #ffd75e;
$MOVIE_COLOR: #95caf3;
$RESULT: #8e8e9b;
$FAV_STAR: #e14984;
