// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$GRAYC: #cccccc;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;


$BG_COLOR: #f6f6f6;
$APP_BG: #191932;
$APP_BOX_SHADOW: 0 6px 15px rgb(36 37 38 / 8%);
$NAV: #23243b;
$NAV_SHADOW :1px -4px 10px 0px rgb(255 255 255 / 5%);
$BOX_COLOR: #414153;
$BUTTON: #22243b;
$ICON: #8e8e9b;
$LOGO: #e93e3d;
$LOGO_SHADOW: 2px 1px 0px #6f1514;
$SEARCH: #8e8e9b9e;
$IMGNONE: #373952;