// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;
$GRAYC: #cccccc;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #8f99bf;
$TASK_ITEM_TITLE: #4f566f;


$BG_COLOR: #fafafa;
$APP_BG: #ffffff;
$APP_BOX_SHADOW:rgb(0 0 0 / 16%);
$NAV: #fafafa;
$NAV_ACTIVE:#dddcdc;
$NAV_SHADOW: #f4f4f480;
$BOX_COLOR: #fafafa;
$BOX_COLOR2: #f1f1f1bf;
$BOX_SHADOW2: rgb(149 157 165 / 20%) 2px 4px 0px;
$BOX_SHADOW: rgb(149 157 165 / 10%) 2px 4px 0px;
$BOX_BORDER: rgb(238 238 238 / 45%);
$BUTTON: #22243b;
$SERCH_TITLE: #8e8e9b;
$LOGO: #e93e3dcf;
$TITLE: #666666;
$YEAR: #22222269;
$IMGNONE: #dddddd;
$SERIES_COLOR: rgb(129 191 127 / 78%);
$GAME_COLOR: #ffd75e;
$MOVIE_COLOR: #95caf3;
$RESULT: #8e8e9b;
$FAV_STAR: #e14984;