@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.lnb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background: colors.$NAV;
  box-shadow: 0px -4px 2px colors.$NAV_SHADOW;
  ul {
    display: flex;

    li {
      +li {
        margin-left: 14px;
      }

      a {
        color: #fff;
        display: block;
        padding: 5px;
        border-radius: 50%;
        border: 1px solid transparent;

        &.isActive {
          border: 1px solid colors.$NAV_ACTIVE;
        }
      }
    }
  }
}