@mixin cubicBezier($duration) {
  transition: $duration;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@mixin loading {
  @keyframes loading {
    0% {
      transform: translateY(-3px);
    }

    100% {
      transform: translateY(3px);
    }
  }
}

@mixin moveIcon {
  @keyframes moveIcon {
    0% {
      transform: translateY(-3px) scale(1.1);
    }

    100% {
      transform: translateY(0) scale(1);
    }
  }
}
